Repository agus-darmawan/padel-clipper-be: changes, and which lefthook commands are due for each by the changed paths.
All: biome, format, typecheck

biome:
  run: pnpx @biomejs/biome check --fix --unsafe {staged_files}

format:
  run: pnpx @biomejs/biome format {staged_files}
  fail_text: Formatting failed

typecheck:
  run: npx tsc --noEmit
  fail_text: TypeScript compilation failed

feat: add all configuration files
  .env.example
  package.json
  src/app.ts
  src/bin/www.ts
  src/config/config.js
  src/config/config.ts
  src/config/cors.ts
  src/config/database.ts
  src/config/env.ts
  src/config/logger.ts
  src/config/morgan.ts
  src/config/security.ts
  src/middleware/error.middleware.ts
  src/middleware/index.ts
  src/middleware/not-found.middleware.ts
  src/middleware/upload.middleware.ts
  src/middleware/validation.middleware.ts
  src/utils/base.error.ts
  src/utils/error.handler.ts
  src/utils/file.upload.ts
  src/utils/port.ts
Due: biome, format, typecheck

feat: add all functionality for booking hour and court
  src/controllers/booking-hour.controller.ts
  src/controllers/court.controller.ts
  src/database/migrations/.gitkeep
  src/database/models/BookingHour.ts
  src/database/models/Clipp.ts
  src/database/models/Court.ts
  src/database/models/index.ts
  src/database/seeders/.gitkeep
  src/routes/index.ts
  src/routes/v1/booking-hour.routes.ts
  src/routes/v1/court.routes.ts
  src/routes/v1/index.ts
  src/services/booking-hour.service.ts
  src/services/court.service.ts
  src/validators/booking-hour.validator.ts
  src/validators/court.validator.ts
  src/validators/general.validators.ts
Due: biome, format, typecheck

feat: add all functionality
  src/controllers/clipp.controller.ts
  src/routes/v1/clipp.routes.ts
  src/services/clipp.service.ts
Due: biome, format, typecheck

feat: add all functionality
  src/config/database.ts
Due: biome, format, typecheck

fix: remove deploy ci
  .github/workflows/ci.yml
Due: none

feat: add postman colection
  docs/postman.colection.json
Due: biome, format

feat: fix index inport in model
  package.json
  src/database/models/index.ts
Due: biome, format, typecheck

feat: add court api
  src/app.ts
Due: biome, format, typecheck

feat: add new postman format
  docs/postman.colection.json
Due: biome, format

feat: add file extention and new postman
  docs/postman.colection.json
  src/controllers/booking-hour.controller.ts
  src/controllers/clipp.controller.ts
  src/controllers/court.controller.ts
  src/routes/v1/court.routes.ts
  src/services/clipp.service.ts
  src/services/court.service.ts
  src/validators/court.validator.ts
Due: biome, format, typecheck

feat: add bokking hour id and add clips routes
  src/controllers/booking-hour.controller.ts
  src/routes/v1/booking-hour.routes.ts
  src/routes/v1/index.ts
  src/services/booking-hour.service.ts
Due: biome, format, typecheck

feat: size file up to 200 mb
  src/routes/v1/booking-hour.routes.ts
  src/routes/v1/index.ts
  src/utils/file.upload.ts
Due: biome, format, typecheck

feat: add new stream method
  src/middleware/upload.middleware.ts
Due: biome, format, typecheck

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx,json}
  format: any of: *.{js,jsx,ts,tsx,json}
  typecheck: any of: *.{ts,tsx}
